
<h1>Contactos</h1>

<h2>Los Angeles</h2>
<p>Los Angeles, conocida como la Ciudad de los Ángeles, es una metrópolis en el estado de California. Es famosa por Hollywood, sus playas como Venice Beach y Santa Mónica, y su clima soleado.</p>
<p>Contacto: <a href="tel:+123456789">123-456-789</a></p>

<h2>Chicago</h2>
<p>Chicago es una ciudad en el estado de Illinois, a orillas del lago Michigan. Es conocida por su arquitectura distintiva, como la Torre Willis (anteriormente Sears Tower) y su escena cultural vibrante.</p>
<p>Contacto: <a href="tel:+987654321">987-654-321</a></p>

<h2>Nueva York</h2>
<p>Nueva York, también conocida como la Gran Manzana, es una de las ciudades más pobladas del mundo. Es famosa por sus rascacielos, como el Empire State Building y el distrito de Manhattan.</p>
<p>Contacto: <a href="tel:+111222333">111-222-333</a></p>

<h2>Australia</h2>
<p>Australia es un continente y país insular ubicado en el hemisferio sur. Es conocido por su diversa vida silvestre, sus ciudades como Sídney y Melbourne, y sus impresionantes paisajes naturales.</p>
<p>Contacto: <a href="mailto:info@australia.com">infoaaustralia.com</a></p>

<h2>Turquía</h2>
<p>Turquía, ubicada en la intersección de Europa y Asia, es conocida por su rica historia, su cultura vibrante y su paisaje diverso que incluye desde playas mediterráneas hasta montañas.</p>
<p>Contacto: <a href="mailto:info@turquia.com">infoaturquia.com</a></p>

<h2>Polonia</h2>
<p>Polonia, en Europa Central, es conocida por su rica herencia histórica y cultural, sus ciudades medievales bien conservadas y sus impresionantes paisajes naturales, como los Montes Tatras.</p>
<p>Contacto: <a href="mailto:info@polonia.pl">infoapolonia.pl</a></p>

<h2>Puerto Rico</h2>
<p>Puerto Rico, un territorio no incorporado de Estados Unidos, es una isla en el Caribe. Es famosa por su cultura vibrante, su música, sus playas de arena blanca y su cocina deliciosa.</p>
<p>Contacto: <a href="tel:+787123456">787-123-456</a></p>

